@page "{categoryId}"
@model Shop.UI.Pages.Admin.Categories.EditModel
@{
}

<form method="post" class="card" data-repeater-container="">
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        @Html.HiddenFor(m => m.EditCategoryViewModel.Id)
        @Html.HiddenFor(m => m.EditCategoryViewModel.ParentId)
        @Html.EditorFor(m => m.EditCategoryViewModel.Title)
        @Html.EditorFor(m => m.EditCategoryViewModel.Slug)
        <div class="form-group">
          <label>@Html.DisplayNameFor(m => m.EditCategoryViewModel.Specifications)</label>
          <div data-repeater-list="">
            @for (var i = 0; i < Model.EditCategoryViewModel.Specifications.Count; i++)
            {
              <div data-repeater-item="">
                <div class="row justify-content-between align-items-center">
                  <div class="col-11">
                    @Html.EditorFor(m => m.EditCategoryViewModel.Specifications[i])
                  </div>
                  <div class="col-1">
                    <button class="btn btn-icon rounded-circle btn-danger" data-repeater-remove="" type="button">
                      <i class="bx bx-trash"></i>
                    </button>
                  </div>
                </div>
                <hr>
              </div>
            }
          </div>
          <div class="form-group m-0 mb-3">
            <div class="col p-0">
              <button class="btn btn-primary" data-repeater-create="" type="button">
                <i class="bx bx-plus"></i>
                افزودن
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">
      <i class="bx bx-check d-block d-sm-none"></i>
      <span class="d-none d-sm-block">ویرایش</span>
    </button>
    <cancel></cancel>
  </div>
</form>