@page "{handler?}"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Shop.Query.Categories._DTOs
@using Shop.UI.TagHelpers
@model Shop.UI.Pages.Admin.Categories.IndexModel
@{
  ViewData["Title"] = "مدیریت دسته‌بندی‌ها";

  const int textIndentationDefaultSize = 15;
  var textIndentation = textIndentationDefaultSize;
  var depth = 1;
  async Task AddSubCategories(CategoryDto parentCategory)
  {
    for (var i = 0; i < parentCategory.SubCategories.Count; i++)
    {
      var subCategory = parentCategory.SubCategories[i];
      var hasSubCategory = subCategory.SubCategories.Any();
      <tr class="children" style="display: none;" data-categoryId="@subCategory.Id"
      data-parentCategoryId="@parentCategory.Id" data-depth="@depth"
      data-hasSubCategory="@hasSubCategory.ToString().ToLower()">
        <td style="text-indent: @($"{textIndentation - 8}px")">
          @for (var t = 0; t < depth; t++)
          {
            <span class="indentation-lines"
            style="right: calc(2rem + @($"{t * textIndentationDefaultSize}px"))"></span>
          }
          <span class="category-title" style="text-indent: 0;">
            @subCategory.Title
            @if (hasSubCategory)
            {
              <i class="bx bx-caret-down"></i>
            }
          </span>
        </td>
        <td>
          <a asp-page="Add" asp-route-parentId="@subCategory.Id"
       class="btn-sm badge-pill bg-rgba-success text-success">
            افزودن زیرگروه
          </a>
          <a asp-page="Edit" asp-route-categoryId="@subCategory.Id"
       class="btn-sm badge-pill bg-rgba-primary text-primary">
            ویرایش
          </a>
          <delete url="@Url.Page("Index", "RemoveCategory", new { categoryId = subCategory.Id })"
            class="btn-sm badge-pill bg-rgba-danger text-danger border-0">
            حذف
          </delete>
        </td>
      </tr>
      if (hasSubCategory)
      {
        depth++;
        textIndentation += textIndentationDefaultSize;
        await AddSubCategories(subCategory);
        if (i + 1 == parentCategory.SubCategories.Count)
        {
          depth--;
          textIndentation = textIndentationDefaultSize * depth;
        }
      }
      else if (i + 1 == parentCategory.SubCategories.Count)
      {
        depth--;
        textIndentation = textIndentationDefaultSize * depth;
        return;
      }
    }
    depth++;
    textIndentation += textIndentationDefaultSize;
  }
}

<section>
  <h5 class="mb-1">@ViewData["Title"]</h5>
  <a asp-page="Add" class="btn btn-success mb-1">افزودن دسته‌بندی</a>
  <fieldset class="position-relative has-icon-left category-search-box form-group">
    <input type="text" class="form-control form-control-sm" id="category-search" placeholder="جستجو">
    <div class="form-control-position">
      <i class="bx bx-search"></i>
    </div>
  </fieldset>
  <div class="table-responsive card card-content">
    <table class="table mb-0 category-table">
      <thead>
        <tr>
          <th>نام</th>
          <th>عملیات</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var category in Model.Categories)
        {
          var hasSubCategory = category.SubCategories.Any();
          <tr class="parent" data-depth="0" data-categoryId="@category.Id"
            data-hasSubCategory="@hasSubCategory.ToString().ToLower()">
            <td>
              <span class="category-title">
                @category.Title
                @if (hasSubCategory)
                {
                  <i class="bx bx-caret-down"></i>
                }
              </span>
            </td>
            <td>
              <a asp-page="Add" asp-route-parentId="@category.Id"
               class="btn-sm badge-pill bg-rgba-success text-success">
                افزودن زیرگروه
              </a>
              <a asp-page="Edit" asp-route-categoryId="@category.Id"
               class="btn-sm badge-pill bg-rgba-primary text-primary">
                ویرایش
              </a>
              <delete url="@Url.Page("Index", "RemoveCategory", new { categoryId = category.Id })"
                    class="btn-sm badge-pill bg-rgba-danger text-danger border-0">
                حذف
              </delete>
            </td>
          </tr>
          @if (hasSubCategory)
          {
            await AddSubCategories(category);
          }
        }
        @if (!Model.Categories.Any())
        {
          <tr>
            <td colspan="2" class="text-center">موردی برای نمایش وجود ندارد</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</section>