@{
  var selected = ViewData["Selected"]?.ToString() ?? "";
}

<div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
  <div class="navbar-header pl-1 pr-1">
    <ul class="nav navbar-nav flex-row">
      <li class="nav-item mr-auto">
        <a class="navbar-brand" href="../../html/vertical-menu-template-dark/index.html">
          <h2 class="brand-text mb-0 p-0">پنل ادمین</h2>
        </a>
      </li>
      <li class="nav-item nav-toggle">
        <a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse">
          <i class="bx bx-x d-block d-xl-none font-medium-4 primary"></i>
          <i class="toggle-icon bx bx-disc font-medium-4 d-none d-xl-block primary" data-ticon="bx-disc"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="shadow-bottom"></div>
  <div class="main-menu-content">
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="lines">
      <li class="nav-item @(selected == "index" ? "active" : null)">
        <a href="/admin">
          <i class="menu-livicon" data-icon="home"></i>
          <span class="menu-title">داشبورد</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="javascript:void(0)">
          <i class="menu-livicon" data-icon="box"></i>
          <span class="menu-title">مدیریت محصولات</span>
        </a>
        <ul class="menu-content">
          <li class="@(selected == "products" ? "active" : null)">
            <a href="/admin/products">
              <i class="bx bx-left-arrow-alt"></i>
              <span class="menu-title">محصولات</span>
            </a>
          </li>
          <li class="@(selected == "categories" ? "active" : null)">
            <a href="/admin/categories">
              <i class="bx bx-left-arrow-alt"></i>
              <span class="menu-title">دسته‌بندی ها</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item @(selected == "users" ? "active" : null)">
        <a href="/admin/users">
          <i class="menu-livicon" data-icon="users"></i>
          <span class="menu-title">مدیریت کاربران</span>
        </a>
      </li>
      <li class="nav-item @(selected == "roles" ? "active" : null)">
        <a href="/admin/roles">
          <i class="menu-livicon" data-icon="shield"></i>
          <span class="menu-title">مدیریت نقش ها</span>
        </a>
      </li>
      <li class="nav-item @(selected == "avatars" ? "active" : null)">
        <a href="/admin/avatars">
          <i class="menu-livicon" data-icon="camera"></i>
          <span class="menu-title">مدیریت آواتار ها</span>
        </a>
      </li>
    </ul>
  </div>
</div>