@page
@using Common.Application.Utility.FileUtility
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Shop.Domain.OrderAggregate
@using Shop.Infrastructure.Utility
@model Shop.UI.Pages.Profile.IndexModel
@{
}

<div class="container">
  <div class="row mb-5">
    <partial name="_ProfileSidebar" />
    <div class="col-lg-9 col-md-8">
      <div class="row mb-4">
        <div class="col-lg-6 mb-lg-0 mb-3">
          <div class="section-title mb-2">
            اطلاعات شخصی
          </div>
          <section class="shadow-around p-3">
            <div class="row">
              <div class="col-lg-6 mb-4">
                <div class="text-sm text-muted">نام و نام خانوادگی:</div>
                <div class="text-dark font-weight-bold">@Model.UserDto.FullName</div>
              </div>
              <div class="col-lg-6 mb-4">
                <div class="text-sm text-muted">پست الکترونیک:</div>
                <div class="text-dark font-weight-bold">@Model.UserDto.Email</div>
              </div>
              <div class="col-lg-6 mb-4">
                <div class="text-sm text-muted">شماره تلفن همراه:</div>
                <div class="text-dark font-weight-bold">@Model.UserDto.PhoneNumber.Value</div>
              </div>
              <div class="col-lg-6 mb-4">
                <div class="text-sm text-muted">دریافت خبرنامه:</div>
                <div class="text-dark font-weight-bold">
                  @(Model.UserDto.IsSubscribedToNewsletter ? "بله" : "خیر")
                </div>
              </div>
              <div class="col-12">
                <div class="text-center">
                  <a href="/profile/edit" class="link--with-border-bottom">
                    <i class="far fa-edit"></i>
                    ویرایش اطلاعات شخصی
                  </a>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div class="col-lg-6 mb-lg-0 mb-3">
          <div class="section-title mb-2">
            لیست آخرین علاقه‌مندی‌ها
          </div>
          @if (Model.FavoriteItems.Any())
          {
            <section class="shadow-around p-3">
              <div class="row">
                @foreach (var favoriteItem in Model.FavoriteItems)
                {
                  var link = $"/product/{favoriteItem.ProductSlug}";
                  <div class="col-12 mb-4">
                    <div class="product-list-section">
                      <div class="product-thumbnail">
                        <a href="@link">
                          <img src="@ServerPaths.GetProductMainImagePath(favoriteItem.ProductMainImage)"
                           alt="@favoriteItem.ProductName">
                        </a>
                      </div>
                      <div class="product-info">
                        <div class="product-title">
                          <a href="@link">
                            @favoriteItem.ProductName
                          </a>
                        </div>
                        <div class="text-danger">
                          @favoriteItem.TotalDiscountedPrice.ToString("#,0")
                          <span class="text-sm">تومان</span>
                        </div>
                        <button class="remove-item pt-3px"
                            onclick="sendAjaxPostWithRouteData('@(Url.Page("Favorites/Index", new {favoriteItemId = favoriteItem.Id}))')">
                          <i class="far fa-trash-alt"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                }
                <div class="col-12">
                  <div class="text-center">
                    <a href="/profile/favorites" class="link--with-border-bottom">
                      مشاهده لیست محصولات مورد علاقه
                    </a>
                  </div>
                </div>
              </div>
            </section>
          }
          else
          {
            <div class="alert alert-info w-100 ta-center">
              موردی برای نمایش وجود ندارد.
            </div>
          }
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="section-title mb-2">
            آخرین سفارش‌ها
          </div>
          <section class="table--order shadow-around mt-4">
            <div class="table-responsive">
              <table class="table mb-0">
                <thead>
                  <tr>
                    <th>شماره سفارش</th>
                    <th>تاریخ ثبت سفارش</th>
                    <th>مبلغ کل</th>
                    <th>وضعیت</th>
                    <th>عملیات</th>
                  </tr>
                </thead>
                <tbody>
                  @if (Model.Orders != null)
                  {
                    foreach (var order in Model.Orders.Data)
                    {
                      <tr>
                        <td class="order-code">@order.Id</td>
                        <td>@order.CreationDate.ToPersianDateTime()</td>
                        <td>@order.TotalOrderDiscountedPrice.ToString("#,0") تومان</td>
                        <td>
                          @switch (order.Status)
                          {
                            case Order.OrderStatus.Canceled:
                              {
                                <span>لغو شده</span>
                                break;
                              }
                            case Order.OrderStatus.Pending:
                              {
                                <span>در انتظار پرداخت</span>
                                break;
                              }
                            case Order.OrderStatus.Preparing:
                              {
                                <span>در حال پردازش</span>
                                break;
                              }
                            case Order.OrderStatus.Sending:
                              {
                                <span>در حال ارسال</span>
                                break;
                              }
                            case Order.OrderStatus.Delivered:
                              {
                                <span>ارسال شده</span>
                                break;
                              }
                          }
                        </td>
                        <td class="order-detail-link d-flex ai-center jc-center">
                          @if (order.Status == Order.OrderStatus.Pending)
                          {
                            <a class="bg-primary text-white w-60px p-5px br-7px" href="/checkout">
                              پرداخت
                            </a>
                          }
                          else
                          {
                            <a class="bg-primary text-white w-60px p-5px br-7px"
                         asp-page="Orders/Show" asp-route-id="@order.Id">
                              جزئیات
                            </a>
                          }
                        </td>
                      </tr>
                    }
                  }
                  else
                  {
                    <tr>
                      <td colspan="5" class="text-center">موردی برای نمایش وجود ندارد</td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
            <div class="text-center py-3">
              <a href="/profile/order" class="d-flex align-items-center justify-content-center text-dark">
                مشاهده لیست سفارش ها
                <i class="fal fa-arrow-to-left mr-1"></i>
              </a>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-lg-3 col-md-6 col-sm-6 mb-lg-0 mb-3">
      <div class="banner">
        <a href="javascript:void(0)">
          <img src="/assets/images/banner/banner-sm-01.jpg" alt="banner">
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 mb-lg-0 mb-3">
      <div class="banner">
        <a href="javascript:void(0)">
          <img src="/assets/images/banner/banner-sm-02.jpg" alt="banner">
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 mb-lg-0 mb-3">
      <div class="banner">
        <a href="javascript:void(0)">
          <img src="/assets/images/banner/banner-sm-03.jpg" alt="banner">
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 mb-lg-0 mb-3">
      <div class="banner">
        <a href="javascript:void(0)">
          <img src="/assets/images/banner/banner-sm-04.jpg" alt="banner">
        </a>
      </div>
    </div>
  </div>
</div>