@using Common.Application.Utility.FileUtility
@model Shop.Query.Products._DTOs.ProductForShopDto
@{
  var link = $"/product/{Model.Slug}";
  var inventoryIsNullOrOutOfStock = Model.InventoryQuantity == 0;
}

<div class="swiper-slide">
  <div class="product-card">
    <div class="product-card-top">
      <a href="@link" class="product-image">
        <img src="@ServerPaths.GetProductMainImagePath(Model.MainImage)" alt="@Model.Name">
      </a>
      <div class="product-card-actions">
        <button class="add-to-wishlist"
                onclick="sendAjaxPostWithRouteData('@(Url.Page("Product", "AddToFavorites",
                                                      new { slug = Model.Slug, productId = Model.Id }))')">
          <i class="fas fa-heart"></i>
        </button>
      </div>
    </div>
    <div class="product-card-middle">
      <div class="ratings-container">
        <div class="ratings">
          <div class="ratings-val" style="width: @(Model.AverageScore * 20)%;"></div>
        </div>
      </div>
      <h6 class="product-name">
        <a href="@link">
          @Model.Name
        </a>
      </h6>
      @if (inventoryIsNullOrOutOfStock)
      {
        <div class="ta-center bgc-gray p-5px br-6px mt--5px c-white">ناموجود</div>
      }
      else
      {
        <div class="product-price product-price-clone">
          @Model.TotalDiscountedPrice.ToString("#,0") تومان
        </div>
      }
    </div>
    @if (!inventoryIsNullOrOutOfStock)
    {
      <div class="product-card-bottom">
        <div class="product-price">
          <div class="d-flex ai-center jc-between">
            @if (Model.DiscountPercentage > 0)
            {
              <div class="product-price-info jc-start w-unset">
                <div class="product-price-off d-flex ai-center p-0 pt-2px pr-6px">
                  %@Model.DiscountPercentage
                </div>
                <div class="product-price-prev">
                  @Model.Price.ToString("#,0")
                </div>
              </div>
            }
            <span>
              @Model.TotalDiscountedPrice.ToString("#,0") تومان
            </span>
          </div>
        </div>
        <button class="btn-add-to-cart"
              onclick="sendAjaxPostWithRouteData('@Url.Page("Cart", "AddItem",
              new { inventoryId = Model.InventoryId, quantity = 1 })')">
          <i class="fad fa-cart-plus"></i>
          افزودن به سبد خرید
        </button>
      </div>
    }
  </div>
</div>