@model Shop.API.ViewModels.Avatars.CreateAvatarViewModel
@{
  var guid = Guid.NewGuid();
}

<form method="post" asp-page="Index" onsubmit="return submitFormWithAjaxAndReplaceElement(event, '')">
  <div class="form-group d-flex align-items-center justify-content-center flex-column">
    <label asp-for="@Model.AvatarFile">انتخاب آواتار</label>
    <label class="custom-file avatar-file-label" for="@Model.AvatarFile">
      <img data-img-preview="@guid" alt="avatar" style="display: none; z-index: 1;"
           src="/assets/images/avatar/avatar.png" />
      <i class="bx bxs-camera"></i>
      <input type="file" class="custom-file-input" asp-for="@Model.AvatarFile" data-img-preview="@guid">
    </label>
    <span asp-validation-for="@Model.AvatarFile" class="d-block"></span>
  </div>
  @Html.EditorFor(m => m.Gender)
  <button type="submit" class="btn btn-success">
    <i class="bx bx-check d-block d-sm-none"></i>
    <span class="d-none d-sm-block">ایجاد</span>
  </button>
  <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
    <i class="bx bx-x d-block d-sm-none"></i>
    <span class="d-none d-sm-block">بستن</span>
  </button>
</form>