@page "{handler?}"
@using Shop.UI.Setup.ServerSide
@model Shop.UI.Pages.Admin.Avatars.IndexModel
@{
  ViewData["Title"] = "مدیریت آواتار ها";
}

<section>
  <h5 class="mb-1">@ViewData["Title"]</h5>
  <open-modal url="@Url.Page("Index", "ShowAddPage")" modal-title="افزودن آواتار"
              modal-size="modal-sm" class="btn btn-primary mb-1">افزودن آواتار</open-modal>
  <div class="table-responsive card card-content">
    <table class="table table-striped mb-0">
      <thead>
        <tr>
          <th>عکس</th>
          <th>جنسیت</th>
          <th>عملیات</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var avatar in Model.Avatars)
        {
          <tr>
            <td>
              <img class="avatar-img" width="50" height="50" src="@ServerSettings.GetAvatarPath(avatar.Name)" />
            </td>
            <td>@avatar.Gender</td>
            <td>
              <delete url="@Url.Page("Index", "RemoveAvatar", new { avatarId = avatar.Id })">حذف</delete>
            </td>
          </tr>
        }
        @if (!Model.Avatars.Any())
        {
          <tr>
            <td colspan="5" class="text-center">موردی برای نمایش وجود ندارد</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</section>