@page "{handler?}"
@using Common.Application.Utility.FileUtility
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Shop.API.ViewModels.Users
@using Shop.UI.TagHelpers
@model Shop.UI.Pages.Profile.Edit.IndexModel
@{
  ViewData["Title"] = "ویرایش اطلاعات";
}

<div class="row mb-5">
  <partial name="Profile/_ProfileSidebar" />
  <div class="col-lg-9 col-md-8">
    <div class="row mb-3">
      <div class="col-lg-6">
        <div class="section-title mb-2">
          @ViewData["Title"]
        </div>
        <section class="shadow-around p-3">
          <form method="post">
            <div class="form-element-row">
              <open-modal url="@Url.Page("Index", "ShowAvatarsPage")" type="button" id="edit-avatar-btn"
                          title="انتخاب آواتار" size="modal-lg">
                <i class="far fa-camera"></i>
                <img src="@ServerPaths.GetAvatarPath(Model.AvatarName)" alt="avatar">
              </open-modal>
            </div>
            @Html.EditorFor(m => m.FullName)
            @Html.EditorFor(m => m.Email)
            @Html.EditorFor(m => m.PhoneNumber)
            @Html.EditorFor(m => m.Gender)
            <div class="form-element-row text-right m-0 mt-3">
              <button class="btn-element btn-success-element">
                <i class="fad fa-user-edit"></i>
                ذخیره
              </button>
            </div>
          </form>
        </section>
        <section class="shadow-around p-3 mt-3">
          <div class="row align-items-center">
            <div class="col-md-12 form-element-row position-relative widget widget-newsletter m-0"
                 id="newsletter">
              @if (Model?.IsSubscribedToNewsletter == false)
              {
                <partial name="_NotSubscribedToNewsletter" />
              }
              else
              {
                <partial name="_SubscribedToNewsletter" />
              }
            </div>
          </div>
        </section>
      </div>
      <div class="col-lg-6 pr-0">
        <partial name="_ResetPassword" model="new ResetUserPasswordViewModel()" />
      </div>
    </div>
  </div>
</div>