@page "{orderId}"
@using Shop.Domain.OrderAggregate
@model Shop.UI.Pages.Checkout.OrderFinalizedModel
@{
  ViewData["Title"] = "اتمام پرداخت";
}

<div class="row mb-4">
  <div class="col-xl-9 col-lg-8 col-md-8 mb-md-0 mb-3">
    <div class="checkout-section shadow-around">
      <div class="checkout-step">
        <ul>
          <li class="active">
            <a href="javascript:void(0)"><span>سبد خرید</span></a>
          </li>
          <li class="active">
            <span>نحوه ارسال و پرداخت</span>
          </li>
          <li class="active">
            <span>اتمام خرید و ارسال</span>
          </li>
        </ul>
      </div>
      @if (Model.Order.Status is Order.OrderStatus.Preparing)
      {

        <div class="checkout-message">
          <div class="checkout-message-success mb-3">
            <div class="icon-message success-icon">
              <i class="fas fa-check"></i>
            </div>
            سفارش با شناسه <span class="order-code br-5px">@Model.Order.Id</span> با موفقیت پرداخت و ثبت گردید.
          </div>
          <div class="text-center text-muted">
            <p class="mb-4 fs-14px">
              سفارش شما در زمان تعیین‌شده برای شما ارسال خواهد شد.
              از اینکه ما را برای خرید انتخاب کردید از شما سپاسگزاریم.
            </p>
          </div>
        </div>
      }
      else if (Model.Order.Status is Order.OrderStatus.Pending)
      {
        <div class="checkout-message">
          <div class="checkout-message-failed mb-3">
            <div class="icon-message failed-icon">
              <i class="fas fa-times"></i>
            </div>
            سفارش با شناسه <span class="order-code br-5px">@Model.Order.Id</span> ثبت شد اما پرداخت ناموفق بود.
          </div>
          <div class="text-center text-muted fs-14px">
            <p class="mb-1">
              برای جلوگیری از لغو سیستمی سفارش، تا ۱ ساعت آینده پرداخت را انجام دهید.
            </p>
            <p class="text-sm">
              چنانچه طی این فرایند مبلغی از حساب شما کسر شده است، طی ۷۲ ساعت آینده به حساب شما
              باز خواهد گشت.
            </p>
          </div>
        </div>
      }
    </div>
  </div>
  <div class="col-xl-3 col-lg-4 col-md-4">
    <div class="shadow-around pt-3">
      <div class="d-flex justify-content-between px-3 py-2">
        <span class="text-muted">نام تحویل گیرنده:</span>
        <span class="text-muted">
          @Model.Order.Address.FullName
        </span>
      </div>
      <div class="d-flex justify-content-between px-3 py-2">
        <span class="text-muted">شماره تماس:</span>
        <span class="text-muted">
          @Model.Order.Address.PhoneNumber.Value
        </span>
      </div>
      <hr>
      <div class="d-flex justify-content-between px-3 py-2">
        <span class="font-weight-bold">مبلغ کل:</span>
        <span class="font-weight-bold">
          @Model.Order.TotalOrderDiscountedPrice.ToString("#,0")
          <span class="text-sm">تومان</span>
        </span>
      </div>
      <hr>
      <div class="px-3 py-2">
        <span class="text-muted d-block">آدرس:</span>
        <span class="text-info">
          @Model.Order.Address.FullAddress
        </span>
      </div>
      <div class="px-3 py-4">
        @if (Model.Order.Status is Order.OrderStatus.Preparing)
        {
          <a href="/profile/orders/show/@Model.Order.Id" class="d-flex ai-center jc-center px-4 py-2 btn btn-primary">
            پیگیری
            سفارش <i class="fad fa-clipboard-list mr-3"></i>
          </a>
        }
        else if (Model.Order.Status is Order.OrderStatus.Pending)
        {
          <a href="/checkout" class="d-flex ai-center jc-center px-4 py-2 btn btn-danger">
            پرداخت
            مجدد<i class="fad fa-redo mr-3"></i>
          </a>
        }
      </div>
    </div>
  </div>
</div>