@page
@using Common.Application.Utility.FileUtility
@using Shop.Domain.Entities
@model IndexModel
@{
  ViewData["Title"] = "فروشگاه اینترنتی همتا";

  var bannerAtCenter = Model.PageData.Banners.FirstOrDefault(b => b.Position == Banner.BannerPosition.وسط_صفحه);
  var bannerAboveSlider = Model.PageData.Banners.FirstOrDefault(b => b.Position == Banner.BannerPosition.بالای_اسلایدر);
  var bannerLeftOfSlider = Model.PageData.Banners.Where(b => b.Position == Banner.BannerPosition.سمت_چپ_اسلایدر).ToList();
  var bannerRightOfSlider = Model.PageData.Banners.Where(b => b.Position == Banner.BannerPosition.سمت_راست_اسلایدر).ToList();
  var bannerBelowSlider = Model.PageData.Banners.Where(b => b.Position == Banner.BannerPosition.پایین_اسلایدر).ToList();
  var bannerAboveRecommendations = Model.PageData.Banners.Where(b => b.Position == Banner.BannerPosition.بالای_پیشنهادات).ToList();
  var bannerLeftOfRecommendations = Model.PageData.Banners.Where(b => b.Position == Banner.BannerPosition.سمت_چپ_پیشنهادات).ToList();
  var bannerRightOfRecommendations = Model.PageData.Banners.Where(b => b.Position == Banner.BannerPosition.سمت_راست_پیشنهادات).ToList();
  var bannerBelowRecommendations = Model.PageData.Banners.Where(b => b.Position == Banner.BannerPosition.پایین_پیشنهادات).ToList();
}

<div class="container">
  <div class="row d-none d-sm-block">
    <div class="col-12 mb-3">
      <div class="banner">
        @if (bannerAboveSlider != null)
        {
          <a href="@bannerAboveSlider.Link">
            <img src="@ServerPaths.GetBannerImagePath(bannerAboveSlider.Image)" alt="banner">
          </a>
        }
      </div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-lg-8 ml-lg-0">
      <div class="main-slider">
        <div class="swiper-container main-page-slider">
          <div class="swiper-wrapper">
            @foreach (var slider in Model.PageData.Sliders)
            {
              <div class="swiper-slide">
                <a href="@slider.Link">
                  <img src="@ServerPaths.GetSliderImagePath(slider.Image)" alt="@slider.Title">
                </a>
              </div>
            }
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
        <div class="swiper-container main-page-slider-thumbs d-none d-sm-block">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
            </div>
          </div>
        </div>
      </div>
    </div>
    @if (bannerLeftOfSlider.Any())
    {
      <div class="col-lg-4">
        <div class="row">
          @foreach (var banner in bannerLeftOfSlider.Take(2))
          {
            <div class="col-lg-12 col-sm-6 col-12">
              <div class="banner @(banner.Equals(bannerLeftOfSlider.Last()) ? null : "mb-15px")">
                <a href="@banner.Link">
                  <img src="@ServerPaths.GetBannerImagePath(banner.Image)" alt="banner">
                </a>
              </div>
            </div>
          }
        </div>
      </div>
    }
  </div>
  <div class="row align-items-center mb-4">
    @if (bannerRightOfRecommendations.Any())
    {
      <div class="col-lg-4 order-2 order-lg-1">
        <div class="row mt-4 mt-lg-0">
          @foreach (var banner in bannerRightOfRecommendations.Take(2))
          {
            <div class="col-lg-12 col-sm-6 col-12">
              <div class="banner @(banner.Equals(bannerRightOfRecommendations.Last()) ? null : "mb-3")">
                <a href="@banner.Link">
                  <img src="@ServerPaths.GetBannerImagePath(banner.Image)" alt="banner">
                </a>
              </div>
            </div>
          }
        </div>
      </div>
    }
    <div class="col-lg-8 order-1 order-lg-2">
      <div class="offer-slider-wrapper">
        <div class="offer-slider-title">پیشنهاد شگفت انگیز</div>
        <div class="row">
          <div class="col-12 mb-1">
            <div class="swiper-container offer-slider">
              <div class="swiper-wrapper">
                @foreach (var product in Model.PageData.SaleProducts)
                {
                  <div class="swiper-slide">
                    <div class="row align-items-center pb-3">
                      <div class="col-sm-6 col-12 order-2 order-sm-1">
                        <div class="product-title">
                          <a href="/product/@product.Slug">
                            @product.Name
                          </a>
                        </div>
                        <div class="product-price">
                          <del>@product.Price.ToString("#,0") تومان</del>
                          @product.TotalDiscountedPrice.ToString("#,0") تومان
                        </div>
                      </div>
                      <div class="col-sm-6 col-12 order-1 order-sm-2">
                        <div class="offer-slide-content">
                          <div class="product-thumbnail">
                            <a href="/product/@product.Slug">
                              <img src="@ServerPaths.GetProductMainImagePath(product.MainImage)"
                                 alt="@product.Name">
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                }
              </div>
            </div>
          </div>
        </div>
        <div class="offer-slider-thumbs-wrapper pb-4">
          <div class="px-0 px-sm-5">
            <div class="swiper-container offer-slider-thumbs">
              <div class="swiper-wrapper">
                @foreach (var product in Model.PageData.SaleProducts)
                {
                  <div class="swiper-slide">
                    <img src="@ServerPaths.GetProductMainImagePath(product.MainImage)" alt="@product.Name">
                  </div>
                }
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
          <div class="offer-slider-button-next"><i class="far fa-chevron-left"></i></div>
          <div class="offer-slider-button-prev"><i class="far fa-chevron-right"></i></div>
        </div>
      </div>
    </div>
  </div>
  <section class="product-carousel in-box">
    <div class="section-title">
      <i class="bx bx-devices"></i>
      کالای دیجیتال
    </div>
    <div class="swiper-container slider-lg">
      <div class="swiper-wrapper">
        @foreach (var product in Model.PageData.CategoryProducts)
        {
          <partial name="Shared/Product/_Card" model="@product" />
        }
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </section>
  <div class="row mb-5">
    <div class="col-md-3 col-6 mb-lg-0 mb-3">
      <div class="banner">
        <a href="#">
          <img src="./assets/images/banner/banner-sm-01.jpg" alt="banner">
        </a>
      </div>
    </div>
    <div class="col-md-3 col-6 mb-lg-0 mb-3">
      <div class="banner">
        <a href="#">
          <img src="./assets/images/banner/banner-sm-02.jpg" alt="banner">
        </a>
      </div>
    </div>
    <div class="col-md-3 col-6 mb-lg-0 mb-3">
      <div class="banner">
        <a href="#">
          <img src="./assets/images/banner/banner-sm-03.jpg" alt="banner">
        </a>
      </div>
    </div>
    <div class="col-md-3  col-6 mb-lg-0 mb-3">
      <div class="banner">
        <a href="#">
          <img src="./assets/images/banner/banner-sm-04.jpg" alt="banner">
        </a>
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-6 mb-lg-0 mb-3">
      <div class="banner">
        <a href="#">
          <img src="/assets/images/banner/banner-md-01.jpg" alt="banner">
        </a>
      </div>
    </div>
    <div class="col-md-6 mb-lg-0 mb-3">
      <div class="banner">
        <a href="#">
          <img src="/assets/images/banner/banner-md-02.jpg" alt="banner">
        </a>
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-12 mb-4">
      <div class="section-title">
        <i class="fad fa-sort-size-up-alt"></i>
        پرفروش ترین ها
      </div>
    </div>
    <div class="col-lg-12">
      <div class="row">
        @foreach (var product in Model.PageData.MostSoldProducts)
        {
          <div class="col-lg-4">
            <div class="product-card product-card-horizontal border-bottom">
              <div class="product-card-top">
                <a href="" class="product-image">
                  <img src="@ServerPaths.GetProductMainImagePath(product.MainImage)" alt="@product.Name">
                </a>
                <div class="product-card-actions">
                  <button class="add-to-wishlist"><i class="fas fa-heart"></i></button>
                  <button class="add-to-compare"><i class="fas fa-random"></i></button>
                </div>
              </div>
              <div class="product-card-middle">
                <div class="ratings-container">
                  <div class="ratings">
                    <div class="ratings-val" style="width: @(product.AverageScore * 20)%;"></div>
                  </div>
                </div>
                <h6 class="product-name">
                  <a href="/product/@product.Slug">
                    @product.Name
                  </a>
                </h6>
                <div class="product-price product-price-clone">@product.TotalDiscountedPrice.ToString("#,0") تومان</div>
              </div>
              <div class="product-card-bottom">
                <div class="product-price">
                  @product.TotalDiscountedPrice.ToString("#,0") تومان
                </div>
                <a href="#" class="btn-add-to-cart">
                  <i class="fad fa-cart-plus"></i>
                  افزودن به سبد خرید
                </a>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</div>