@page
@using Common.Application.Utility.FileUtility
@using Shop.UI.TagHelpers
@model Shop.UI.Pages.Seller.Inventories.IndexModel
@{
  ViewData["Title"] = "مدیریت انبار ها";
  ViewData["Selected"] = "inventories";
  var highestProductPrice = Model.FilterResult.HighestPriceInInventory;
}

<a asp-page="Add" class="btn btn-success mb-1">افزودن انبار</a>
<form method="get">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-2 mb-5px">
          <label>@Html.DisplayNameFor(m => m.FilterParams.ProductName)</label>
          <input type="text" asp-for="@Model.FilterParams.ProductName" class="form-control" />
        </div>
        <div class="col-md-2 mb-5px">
          <label>@Html.DisplayNameFor(m => m.FilterParams.MinQuantity)</label>
          <input type="text" asp-for="@Model.FilterParams.MinQuantity" class="form-control" />
        </div>
        <div class="col-md-2 mb-5px">
          <label>@Html.DisplayNameFor(m => m.FilterParams.MaxQuantity)</label>
          <input type="text" asp-for="@Model.FilterParams.MaxQuantity" class="form-control" />
        </div>
        <div class="col-md-2 mb-5px">
          <label>@Html.DisplayNameFor(m => m.FilterParams.MinDiscountPercentage)</label>
          <input type="text" asp-for="@Model.FilterParams.MinDiscountPercentage" class="form-control" />
        </div>
        <div class="col-md-2 mb-5px">
          <label>@Html.DisplayNameFor(m => m.FilterParams.MaxDiscountPercentage)</label>
          <input type="text" asp-for="@Model.FilterParams.MaxDiscountPercentage" class="form-control" />
        </div>
        <div class="col-md-1 mb-5px">
          <label>@Html.DisplayNameFor(m => m.FilterParams.IsAvailable)</label>
          @Html.EditorFor(m => m.FilterParams.IsAvailable)
        </div>
        <div class="col-md-1 mb-5px">
          <label>@Html.DisplayNameFor(m => m.FilterParams.IsDiscounted)</label>
          @Html.EditorFor(m => m.FilterParams.IsDiscounted)
        </div>
      </div>
      <div class="mb-5px mt-10px">
        <label>محدوده قیمت</label>
        <fieldset>
          <div class="row">
            <div class="col-md-3 d-flex align-items-center">
              <div style="margin-left: 10px;">از</div>
              <div class="position-relative">
                <input class="form-control d-inline-block" type="text" id="slider-input-min" data-money="minPrice">
                <div class="toman-placeholder">تومان</div>
              </div>
              <input type="hidden" asp-for="@Model.FilterParams.MinPrice" data-money-value="minPrice"
                     id="slider-input-min-value">
            </div>
            <div class="col-md-3 d-flex align-items-center">
              <div style="margin-left: 10px;">تا</div>
              <div class="position-relative">
                <input class="form-control d-inline-block" type="text" id="slider-input-max" data-money="maxPrice">
                <div class="toman-placeholder">تومان</div>
              </div>
              <input type="hidden" asp-for="@Model.FilterParams.MaxPrice" data-money-value="maxPrice"
                     id="slider-input-max-value">
            </div>
          </div>
          <div class="noUi-target noUi-rtl noUi-horizontal mt-2" id="slider-with-input">
          </div>
        </fieldset>
      </div>
    </div>
    <div class="card-footer text-left pt-0">
      <a asp-page="Index" class="btn btn-danger btn-sm">حذف فیلتر</a>
      <button type="submit" class="btn btn-primary btn-sm">اعمال فیلتر</button>
    </div>
  </div>
</form>
<section>
  <div class="table-responsive card card-content">
    <table class="table table-striped mb-0">
      <thead>
        <tr>
          <th>عکس</th>
          <th>اطلاعات</th>
          <th>قیمت</th>
          <th>موجود در انبار</th>
          <th>موجودی</th>
          <th>تخفیف</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var inventory in Model.FilterResult.Data)
        {
          <tr>
            <td class="item-image-container">
              <img alt="product image" width="100" height="100" class="item-image"
                 src="@ServerPaths.GetProductMainImagePath(inventory.ProductMainImage)" />
            </td>
            <td class="font-weight-bolder">
              <label class="grayed">نام:</label>
              <span>@inventory.ProductName</span>
              <br />
              <label class="grayed">نام انگلیسی:</label>
              <span>@inventory.ProductEnglishName</span>
              <br />
              <label class="grayed">رنگ:</label>
              <span>@inventory.ColorName</span>
              <div>
                <span class="item-color" style="background-color: @inventory.ColorCode;"></span>
              </div>
            </td>
            <td class="font-weight-bolder">
              <label class="grayed">قیمت@(inventory.IsDiscounted ? " اصلی" : ""):</label>
              <bold>@inventory.Price.ToString("##,###") <small class="grayed">تومان</small></bold>
              @if (inventory.IsDiscounted)
              {
                <br />
                <label class="grayed">مقدار تخفیف:</label>
                <bold>@inventory.DiscountAmount.ToString("##,###") <small class="grayed">تومان</small></bold>
                <br />
                <label class="grayed">قیمت نهایی:</label>
                <bold>@inventory.DiscountedPrice.ToString("##,###") <small class="grayed">تومان</small></bold>
              }
            </td>
            <td>
              @if (inventory.IsAvailable)
              {
                <span>✅</span>
              }
              else
              {
                <span>❌</span>
              }
            </td>
            <td class="font-weight-bolder">@inventory.Quantity <small class="grayed">عدد</small></td>
            <td class="font-weight-bolder">@inventory.DiscountPercentage%</td>
            <td>
              <a asp-page="Edit" asp-route-inventoryId="@inventory.Id"
               class="btn-sm badge-pill bg-rgba-primary text-primary">
                ویرایش
              </a>
              <delete url="@Url.Page("Index", "RemoveInventory", new { inventoryId = inventory.Id })"
                    class="btn-sm badge-pill bg-rgba-danger text-danger border-0">
                حذف
              </delete>
            </td>
          </tr>
        }
        @if (!Model.FilterResult.Data.Any())
        {
          <tr>
            <td colspan="6" class="text-center">موردی برای نمایش وجود ندارد</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</section>
@section Scripts
  {
  <script>
    setupRangeSlider(0, @highestProductPrice, @(Model.FilterParams.MinPrice ?? 0),
    @(Model.FilterParams.MaxPrice ?? highestProductPrice))
  </script>
}