@page
@using Common.Application.Utility.FileUtility
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Shop.Query.Categories._DTOs
@using Shop.UI.Services.Categories
@using Shop.UI.TagHelpers
@model Shop.UI.Pages.Admin.Products.IndexModel
@inject ICategoryService CategoryService
@{
  var categories = await CategoryService.GetAll();
  ViewData["Title"] = "مدیریت محصولات";
  ViewData["Selected"] = "products";
  var oldCategory = Request.Query["FilterFilterParams.CategoryId"].ToString() ?? "0";
  var highestProductPrice = Model.FilterResult.HighestPriceInCategory;

  const int textIndentationDefaultSize = 15;
  var textIndentation = textIndentationDefaultSize;
  const int rightSidePadding = 0;
  var depth = 1;
  async Task AddSubCategories(CategoryDto parentCategory)
  {
    if (depth <= 0)
    {
      depth++;
      textIndentation += textIndentationDefaultSize;
    }
    for (var i = 0; i < parentCategory.SubCategories.Count; i++)
    {
      var newId = Guid.NewGuid();
      var subCategory = parentCategory.SubCategories[i];
      var hasSubCategory = subCategory.SubCategories.Any();
      <tr class="children" style="display: none;" data-depth="@depth" data-categoryId="@subCategory.Id"
      data-parentCategoryId="@parentCategory.Id" data-hasSubCategory="@hasSubCategory.ToString().ToLower()">
        <td style="text-indent: @($"{textIndentation - 8}px");" class="pl-0 pr-0">
          @for (var t = 0; t < depth; t++)
          {
            <span class="indentation-lines"
            style="right: @($"{t * textIndentationDefaultSize + rightSidePadding}px")"></span>
          }
          <div class="d-inline-flex align-items-center">
            <label class="radio">
              <input type="radio" class="radio-primary category-radio" id="@newId"
               asp-for="@Model.FilterParams.CategoryId" value="@subCategory.Id" />
              <label class="radio-circle" for="@newId"></label>
            </label>
            <span asp-validation-for="@Model.FilterParams.CategoryId"></span>
            <span class="category-title mr-6px" style="text-indent: 0;">
              @subCategory.Title
              @if (hasSubCategory)
              {
                <i class="bx bx-caret-down"></i>
              }
            </span>
          </div>
        </td>
      </tr>
      if (hasSubCategory)
      {
        depth++;
        textIndentation += textIndentationDefaultSize;
        await AddSubCategories(subCategory);
        if (i + 1 == parentCategory.SubCategories.Count)
        {
          depth--;
          textIndentation = textIndentationDefaultSize * depth;
          return;
        }
      }
      else if (i + 1 == parentCategory.SubCategories.Count)
      {
        depth--;
        textIndentation = textIndentationDefaultSize * depth;
        return;
      }
    }
  }
}

<a asp-page="Add" class="btn btn-success mb-1">افزودن محصول</a>
<form method="get">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-3 mb-10px">
          <label>نام</label>
          <input type="text" asp-for="@Model.FilterParams.Name" class="form-control" />
        </div>
        <div class="col-md-3 mb-10px">
          <label>اسلاگ</label>
          <input type="text" asp-for="@Model.FilterParams.Slug" class="form-control" />
        </div>
        <div class="col-md-3 mb-10px">
          <label>امتیاز</label>
          <input type="text" asp-for="@Model.FilterParams.AverageScore" class="form-control" />
        </div>
        <div class="col-md-3 mb-5px">
          <label>حداقل درصد تخفیف</label>
          <input type="text" asp-for="@Model.FilterParams.MinDiscountPercentage" class="form-control" />
        </div>
        <div class="col-md-3 mb-5px">
          <label>حداکثر درصد تخفیف</label>
          <input type="text" asp-for="@Model.FilterParams.MaxDiscountPercentage" class="form-control" />
        </div>
      </div>
      <div class="mb-5px mt-10px">
        <label>محدوده قیمت</label>
        <fieldset>
          <div class="row">
            <div class="col-md-3 d-flex align-items-center">
              <div style="margin-left: 10px;">از</div>
              <div class="position-relative">
                <input class="form-control d-inline-block" type="text" id="slider-input-min" data-money="minPrice">
                <div class="toman-placeholder">تومان</div>
              </div>
              <input type="hidden" asp-for="@Model.FilterParams.MinPrice" data-money-value="minPrice"
                     id="slider-input-min-value">
            </div>
            <div class="col-md-3 d-flex align-items-center">
              <div style="margin-left: 10px;">تا</div>
              <div class="position-relative">
                <input class="form-control d-inline-block" type="text" id="slider-input-max" data-money="maxPrice">
                <div class="toman-placeholder">تومان</div>
              </div>
              <input type="hidden" asp-for="@Model.FilterParams.MaxPrice" data-money-value="maxPrice"
                     id="slider-input-max-value">
            </div>
          </div>
          <div class="noUi-target noUi-rtl noUi-horizontal mt-2" id="slider-with-input">
          </div>
        </fieldset>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div style="margin-bottom: 5px;">
        <label>دسته بندی</label>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb category-breadcrumb">
            <li class="breadcrumb-item">دسته‌بندی انتخاب نشده است</li>
          </ol>
        </nav>
        <fieldset class="position-relative has-icon-left category-search-box">
          <input type="text" class="form-control form-control-sm" id="category-search" placeholder="جستجو">
          <div class="form-control-position">
            <i class="bx bx-search"></i>
          </div>
        </fieldset>
        <input type="hidden" asp-for="@Model.FilterParams.OldCategoryId" value="@oldCategory" />
        <label class="radio mb-0 mt-5px">
          <input type="radio" class="radio-primary category-radio" id="allCategoriesRadio"
                 asp-for="@Model.FilterParams.CategoryId" checked="" value="0" />
          <label class="radio-circle align-items-center ml-5px" for="allCategoriesRadio">
            <small class="mr-5px">همه دسته‌بندی ها</small>
          </label>
        </label>
        <table class="table mb-0 category-table">
          <tbody>
            @foreach (var category in categories.Data)
            {
              var guid = Guid.NewGuid();
              var hasSubCategory = category.SubCategories.Any();
              <tr class="parent" data-depth="0" data-categoryId="@category.Id"
                data-hasSubCategory="@hasSubCategory.ToString().ToLower()">
                <td class="pl-0 pr-0 d-flex w-100 align-items-center">
                  <label class="radio">
                    <input type="radio" class="radio-primary category-radio" id="@guid"
                           asp-for="@Model.FilterParams.CategoryId" value="@category.Id" />
                    <label class="radio-circle" for="@guid"></label>
                  </label>
                  <span asp-validation-for="@Model.FilterParams.CategoryId"></span>
                  <span class="category-title mr-6px">
                    @category.Title
                    @if (hasSubCategory)
                    {
                      <i class="bx bx-caret-down"></i>
                    }
                  </span>
                </td>
              </tr>
              @if (hasSubCategory)
                await AddSubCategories(category);
            }
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer text-left pt-0">
      <a asp-page="Index" class="btn btn-danger btn-sm">حذف فیلتر</a>
      <button type="submit" class="btn btn-primary btn-sm">اعمال فیلتر</button>
    </div>
  </div>
</form>
<section>
  <div class="table-responsive card card-content">
    <table class="table table-striped mb-0">
      <thead>
        <tr>
          <th>عکس</th>
          <th>نام</th>
          <th>قیمت</th>
          <th>سایر اطلاعات</th>
          <th>عملیات</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var product in Model.FilterResult.Data)
        {
          <tr>
            <td class="item-image-container">
              <img alt="product image" width="100" height="100" class="item-image"
                 src="@ServerPaths.GetProductMainImagePath(product.MainImage)" />
            </td>
            <td class="font-weight-bolder">
              <label class="grayed">نام:</label>
              <span>@product.Name</span>
              <br />
              <label class="grayed">نام انگلیسی:</label>
              <span>@product.EnglishName</span>
              <br />
              <label class="grayed">اسلاگ:</label>
              <span>@product.Slug</span>
            </td>
            @if (product.InventoryId != 0)
            {
              <td class="font-weight-bolder">
                @product.LowestInventoryPrice.ToString("#,0") <small class="grayed">تومان</small>
                @if (product.LowestInventoryPrice != product.HighestInventoryPrice)
                {
                  <br />
                  <span class="grayed">تا</span>
                  <br />
                  @product.HighestInventoryPrice.ToString("#,0") <small class="grayed">تومان</small>
                }
              </td>
              <td class="font-weight-bolder">
                <label class="grayed">امتیاز:</label>
                <span>@(product.AverageScore != 0 ? product.AverageScore.ToString("#.#") : 0)</span>
                <br />
                <label class="grayed">موجودی:</label>
                <span>@product.InventoryQuantity</span>
                <small class="grayed">عدد</small>
                <br />
                @if (product.Colors.Any())
                {
                  <label class="grayed">رنگ ها:</label>
                  <div>
                    @foreach (var color in product.Colors)
                    {
                      if (color != null)
                      {
                        <span class="item-color" style="background-color: @color.Code;" data-toggle="tooltip"
                    data-placement="top" title="" data-original-title="@color.Name"></span>
                      }
                    }
                  </div>
                }
              </td>
            }
            else
            {
              <td colspan="2" class="text-center p-2">فهرست موجودی برای این محصول وجود ندارد</td>
            }
            <td>
              <div class="row flex-column operations">
                <a asp-page="Edit" asp-route-productId="@product.Id"
                 class="btn-sm badge-pill bg-rgba-primary text-primary">
                  ویرایش
                </a>
                <delete url="@Url.Page("Index", "RemoveProduct", new { productId = product.Id })"
                      class="btn-sm badge-pill bg-rgba-danger text-danger border-0">
                  حذف
                </delete>
              </div>
            </td>
          </tr>
        }
        @if (!Model.FilterResult.Data.Any())
        {
          <tr>
            <td colspan="5" class="text-center p-2">موردی برای نمایش وجود ندارد</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</section>
@section Scripts
  {
  <script>
    setupRangeSlider(0, @highestProductPrice, @(Model.FilterResult.FilterParams.MinPrice ?? 0),
    @(Model.FilterResult.FilterParams.MaxPrice ?? highestProductPrice))
  </script>
}