@model Shop.API.ViewModels.Auth.RegisterUserViewModel
@{
    ViewData["Title"] = "ثبت نام";
}

<div class="site-logo">
    <a href="/">
        <img src="/assets/images/logo.png" alt="logo">
    </a>
</div>
<div class="auth-form-title border-0">
    @ViewData["Title"]
</div>
<form method="post" asp-page-handler="Register" onsubmit="return submitFormWithAjaxAndReplaceElement(event, '')">
    @Html.EditorFor(m => m.FullName)
    @Html.EditorFor(m => m.Password)
    @Html.EditorFor(m => m.ConfirmPassword)
    @Html.EditorFor(m => m.Gender)
    <div class="form-element-row text-left mb-2 mt-4">
        <button class="btn-element btn-info-element w-100">
            ورود
        </button>
    </div>
</form>