@model Enum
@{
  var type = Model.GetType();
}

<div class="form-element-row">
  <label asp-for="@Model"></label>
  <select asp-for="@Model" class="select2" data-minimum-results-for-search="Infinity">
    @foreach (var name in Enum.GetNames(type))
    {
      <option value="@name">@name.Replace("_", " ")</option>
    }
  </select>
</div>
<span asp-validation-for="@Model" class="d-block mb-2"></span>