@page "{id}"
@using Common.Application.Utility.FileUtility
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Shop.Domain.OrderAggregate
@using Shop.Infrastructure.Utility
@model Shop.UI.Pages.Profile.Orders.ShowModel
@{
  ViewData["Title"] = "لیست سفارشات";
}

<div class="row mb-5">
  <partial name="Profile/_ProfileSidebar" />
  <div class="col-lg-9 col-md-8">
    <div class="section-title mb-2">
      <span class="ml-2">جزئیات سفارش</span>
      <span class="text-muted ml-2">|</span>
      <span class="font-en ml-2">@Model.Order.Id</span>
      <span class="text-muted ml-2">|</span>
      <span class="text-sm text-secondary">@Model.Order.CreationDate.ToPersianDate("ds dd ms Y")</span>
    </div>
    <div class="row mb-4">
      <div class="col-12">
        <section class="shadow-around p-3">
          <div class="row">
            <div class="col-12">
              <div class="checkout-section shadow-around p-2">
                <div class="checkout-section-content">
                  <div class="cart-items">
                    <div class="mb-2">
                      <span class="text-muted">تحویل گیرنده :</span>
                      <span class="font-weight-bold">@Model.Order.Address.FullName</span>
                    </div>
                    <div class="mb-2">
                      <span class="text-muted">شماره تماس :</span>
                      <span class="font-weight-bold">@Model.Order.Address.PhoneNumber.Value</span>
                    </div>
                    <div class="mb-2">
                      <span class="text-muted">ارسال به :</span>
                      <span class="font-weight-bold">
                        @Model.Order.Address.FullAddress
                      </span>
                    </div>
                    <div class="mb-2">
                      <span class="text-muted">وضعیت :</span>
                      <span class="font-weight-bold">
                        @switch (Model.Order.Status)
                        {
                          case Order.OrderStatus.Canceled:
                          {
                            <span>لغو شده</span>
                            break;
                          }
                          case Order.OrderStatus.Pending:
                          {
                            <span>در انتظار پرداخت</span>
                            break;
                          }
                          case Order.OrderStatus.Preparing:
                          {
                            <span>در حال پردازش</span>
                            break;
                          }
                          case Order.OrderStatus.Sending:
                          {
                            <span>در حال ارسال</span>
                            break;
                          }
                          case Order.OrderStatus.Delivered:
                          {
                            <span>ارسال شده</span>
                            break;
                          }
                        }
                      </span>
                    </div>
                    <div class="mb-2">
                      <span class="text-muted">مبلغ کل این مرسوله :</span>
                      <span class="font-weight-bold">
                        @Model.Order.TotalOrderDiscountedPrice.ToString("#,0")
                        <span class="text-sm text-secondary">تومان</span>
                      </span>
                    </div>
                    <div class="mb-2">
                      <span class="text-muted">روش ارسال :</span>
                      <span class="font-weight-bold">
                        @Model.Order.ShippingName
                        <span class="text-muted">(@Model.Order.ShippingCost.ToString("#,0") <span class="text-sm text-secondary">تومان</span>)</span>
                      </span>
                    </div>
                    <hr>
                    @foreach (var item in Model.Order.Items)
                    {
                      <div class="cart-item py-4 px-3">
                        <div class="item-thumbnail">
                          <a href="/product/@item.ProductSlug">
                            <img src="@ServerPaths.GetProductMainImagePath(item.ProductMainImage)"
                                 alt="@item.ProductName">
                          </a>
                        </div>
                        <div class="item-info flex-grow-1">
                          <div class="item-title">
                            <h2>
                              <a href="/product/@item.ProductSlug">
                                @item.ProductName
                              </a>
                            </h2>
                          </div>
                          <div class="item-detail">
                            <ul>
                              <li>
                                <span class="color" style="background-color: @item.ColorCode;"></span>
                                <span>@item.ColorName</span>
                              </li>
                              <li>
                                <i class="bx bx-box text-muted"></i>
                                <span>تعداد: @item.Count</span>
                              </li>
                              <li>
                                <i class="bx bx-store text-muted"></i>
                                <span>@item.InventoryShopName</span>
                              </li>
                            </ul>
                            <div class="item-quantity--item-price">
                              <div class="item-price">
                                <span class="text-muted">قیمت:</span>
                                @((item.EachItemDiscountedPrice * item.Count).ToString("#,0"))<span class="text-sm mr-1">تومان</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    }
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>