@using Common.Api.Utility
@using Common.Application.Utility.FileUtility
@using Shop.UI.Services.Categories
@using Shop.UI.Services.Users
@inject ICategoryService CategoryService
@inject IUserService UserService
@{
  var categories = await CategoryService.GetForMenu();
  var currentUser = await UserService.GetById(User.GetUserId());
}

<header class="page-header">
  <div class="container">
    <div class="bottom-page-header">
      <div class="d-flex align-items-center">
        <div class="site-logo">
          <a href="/">
            <img src="/assets/images/logo.png" alt="logo">
          </a>
        </div>
        <div class="search-box">
          <form action="/search">
            <input type="text" name="FilterParams.Name" placeholder="نام محصول را جستجو کنید...">
            <i class="far fa-search"></i>
          </form>
        </div>
      </div>
      <div class="user-items">
        <div class="user-item cart-list ml-5px">
          <a href="/cart">
            <i class="fal fa-shopping-basket"></i>
            <span class="bag-items-number">0</span>
          </a>
          <ul>
            <li class="cart-items">
              <ul class="cart-items-ul" style="overflow-y: scroll">
              </ul>
            </li>
            <li class="cart-footer">
              <span class="d-block text-center mb-3">
                مبلغ کل:
                <span class="total">0 تومان</span>
              </span>
              <span class="d-block text-center px-2">
                <a href="/cart" class="btn-cart">
                  مشاهده سبد خرید
                  <i class="mi mi-ShoppingCart"></i>
                </a>
              </span>
            </li>
          </ul>
        </div>
        @if (User.Identity.IsAuthenticated && currentUser.Data != null)
        {
          <div class="user-item account ml-13px">
            <a href="/profile">
              @currentUser.Data.FullName
              <i class="fad fa-chevron-down text-sm mr-1"></i>
            </a>
            <ul class="dropdown--wrapper">
              <li class="header-profile-dropdown-account-container">
                <a href="/profile" class="d-block">
                  <span class="header-profile-dropdown-user">
                    <span class="header-profile-dropdown-user-img br-100px hw-40px">
                      <img class="br-100px c-pointer" src="@ServerPaths.GetAvatarPath(currentUser.Data.Avatar.Name)" alt="avatar">
                    </span>
                    <span class="header-profile-dropdown-user-info">
                      <p class="header-profile-dropdown-user-name">
                        @currentUser.Data.FullName
                      </p>
                      <span class="header-profile-dropdown-user-profile-link">
                        مشاهده حساب کاربری
                      </span>
                    </span>
                  </span>
                </a>
              </li>
              @if (User.Identity.IsAuthenticated)
              {
                <li>
                  <a asp-page="/auth/logout" class="dropdown--btn-primary">خروج از حساب</a>
                </li>
              }
              else
              {
                <li>
                  <a asp-page="/auth/login" class="dropdown--btn-primary">ورود به حساب</a>
                </li>
              }
            </ul>
          </div>
        }
        else
        {
          <div class="user-item account ml-13px">
              <a asp-page="/auth/login">ورود به حساب</a>
          </div>
        }
      </div>
    </div>
    <nav class="nav-wrapper">
      <ul>
        <li class="category-list">
          <a href="javascript:void(0)"><i class="fal fa-bars"></i>دسته بندی کالاها</a>
          <ul>
            @foreach (var category in categories.Data)
            {
              <li>
                <a href="/search?FilterParams.CategorySlug=@category.Slug">@category.Title</a>
                <ul class="row">
                  <li class="col-12">
                    <a href="/search?FilterParams.CategorySlug=@category.Slug">همه دسته بندی های @category.Title</a>
                  </li>
                  @foreach (var subCategory in category.SubCategories)
                  {
                    <li class="col-3">
                      <a href="/search?FilterParams.CategorySlug=@subCategory.Slug">@subCategory.Title</a>
                      <ul>
                        @foreach (var subSubCategory in subCategory.SubCategories)
                        {
                          <li><a href="/search?FilterParams.CategorySlug=@subSubCategory.Slug">@subSubCategory.Title</a></li>
                        }
                      </ul>
                    </li>
                  }
                </ul>
              </li>
            }
          </ul>
        </li>
      </ul>
    </nav>
  </div>
  <span id="productMainImagePath" hidden="">@ServerPaths.GetProductMainImagePath("")</span>
</header>