@model Enum
@{
  var type = Model.GetType();
}

<div class="form-group">
  <label asp-for="@Model"></label>
  <div class="form-element-row">
    <select asp-for="@Model" class="form-control select2" data-minimum-results-for-search="Infinity">
      @foreach (var name in Enum.GetNames(type))
      {
        <option value="@name">@name.Replace("_", " ")</option>
      }
    </select>
  </div>
  <span asp-validation-for="@Model"></span>
</div>