@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Shop.API.ViewModels.Products.ProductCategorySpecificationViewModel
@{
  var isImportant = Model.IsImportant;
  var isOptional = Model.IsOptional;
  var guid = Guid.NewGuid();
}

<div class="category-specification">
  <div class="row justify-content-between align-items-center">
    <div class="col-11">
      <div class="row">
        <div class="col-3 pl-0">
          <input hidden="" asp-for="@Model.CategorySpecificationId" value="@Model.CategorySpecificationId" />
          <input hidden="" asp-for="@Model.IsImportant" value="@(isImportant ? "True" : "False")" id="IsImportant" />
          <input hidden="" asp-for="@Model.IsImportant" value="@(isOptional ? "True" : "False")"
                 id="@("IsOptional"+guid)" />
          <span asp-validation-for="@Model.CategorySpecificationId"></span>
          <input type="text" class="form-control" readonly="" asp-for="@Model.Title"
                 placeholder="@Model.Title" value="@Model.Title" />
          <label class="mt-5px ml-3px" style="display: @(isImportant ? null : "none")">
            @(isImportant ? "ویژگی مهم" : null)
          </label>
          <label class="mt-5px">@(isOptional ? null : "(اجباری)")</label>
        </div>
        <div class="col-9 pl-0">
          <textarea type="text" class="form-control" asp-for="@Model.Description"
                    placeholder="@Html.DisplayNameFor(m => Model.Description)" data-otherPropertyGuid="@guid"></textarea>
          <span asp-validation-for="@Model.Description"></span>
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>