@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Shop.API.ViewModels.Products.ProductSpecificationViewModel
@{
}

<div class="row">
  <div class="col-3 pl-0">
    <input type="text" class="form-control" asp-for="@Model.Title"
           placeholder="@Html.DisplayNameFor(m => m.Title)">
    <span asp-validation-for="@Model.Title" class="d-block"></span>
  </div>
  <div class="col-9 pl-0">
    <textarea type="text" class="form-control" asp-for="@Model.Description"
              placeholder="@Html.DisplayNameFor(m => m.Description)">
    </textarea>
    <span asp-validation-for="@Model.Description" class="d-block"></span>
  </div>
</div>