@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<Shop.API.ViewModels.Products.ProductCategorySpecificationViewModel>
@{
}

@for (var i = 0; i < Model.Count; i++)
{
  var isImportant = Model[i].IsImportant;
  var isOptional = Model[i].IsOptional;
  var guid = Guid.NewGuid();

  <div class="category-specification">
    <div class="row justify-content-between align-items-center">
      <div class="col-11">
        <div class="row">
          <div class="col-3 pl-0">
            <input hidden="" name="@Model[i].CategorySpecificationId" value="@Model[i].CategorySpecificationId"/>
            <input hidden="" name="@Model[i].IsImportant" value="@(isImportant ? "True" : "False")" id="IsImportant" />
            <input hidden="" name="@Model[i].IsImportant" value="@(isOptional ? "True" : "False")"
                   id="@("IsOptional"+guid)" />
            <span asp-validation-for="@Model[i].CategorySpecificationId"></span>
            <input type="text" class="form-control" readonly="" name="@Model[i].Title"
                   placeholder="@Model[i].Title" value="@Model[i].Title"/>
            <label class="mt-5px ml-3px" style="display: @(isImportant ? null : "none")">
              @(isImportant ? "ویژگی مهم" : null)
            </label>
            <label class="mt-5px">@(isOptional ? null : "(اجباری)")</label>
          </div>
          <div class="col-9 pl-0">
            <textarea type="text" class="form-control" name="@Model[i].Description" asp-for="@Model[i].Description"
                    placeholder="@Html.DisplayNameFor(m => Model[i].Description)" data-otherPropertyGuid="@guid"></textarea>
            <span asp-validation-for="@Model[i].Description"></span>
          </div>
        </div>
      </div>
    </div>
    @if (i != Model.Count - 1)
    {
      <hr>
    }
  </div>
}