@using Shop.Domain.RoleAggregate
@model Shop.API.ViewModels.Roles.EditRoleViewModel

<form method="post" asp-page-handler="EditRole" onsubmit="return submitFormWithAjaxAndReplaceElement(event, '')">
  @Html.HiddenFor(m => m.Id)
  @Html.EditorFor(m => m.Title)
  <div class="form-group">
    <select class="form-control select2" asp-for="Permissions" multiple="">
      @foreach (var permission in Enum.GetNames(typeof(RolePermission.Permissions)))
      {
        <option selected="@(Model.Permissions.Any(p => p.ToString() == permission) ? "selected" : null)"
              value="@permission">@permission</option>
      }
    </select>
    <span asp-validation-for="@Model.Permissions" class="d-block"></span>
  </div>
  <button type="submit" class="btn btn-success">
    <i class="bx bx-check d-block d-sm-none"></i>
    <span class="d-none d-sm-block">ویرایش</span>
  </button>
  <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
    <i class="bx bx-x d-block d-sm-none"></i>
    <span class="d-none d-sm-block">بستن</span>
  </button>
</form>