@model Shop.API.ViewModels.Entities.Banner.CreateBannerViewModel
@{
  var guid = Guid.NewGuid();
}

<form method="post" asp-page="Index" enctype="multipart/form-data"
      onsubmit="return submitFormWithAjaxAndReplaceElement(event, '')">
  <div id="fileContents">
  </div>
  <fieldset class="form-group">
    <label asp-for="@Model.Image"></label>
    <label class="btn-sm badge-pill bg-rgba-info text-info border-0 badge-input mr-0px">
      <input asp-for="@Model.Image" type="file" data-img-preview="@guid" data-replace="" accept="image/*" />
      انتخاب
    </label>
    <div class="img-preview-container" data-val-id="imageVal">
      <i class="bx bx-image-alt"></i>
      <img class="img-preview" data-img-preview="@guid" alt="banner image" src="" data-crop="@guid" />
    </div>
    <span asp-validation-for="@Model.Image" data-val-for="imageVal"></span>
  </fieldset>
  @Html.EditorFor(m => m.Link)
  @Html.EditorFor(m => m.Position)
  <button type="submit" class="btn btn-success">
    <i class="bx bx-check d-block d-sm-none"></i>
    <span class="d-none d-sm-block">ایجاد</span>
  </button>
  <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
    <i class="bx bx-x d-block d-sm-none"></i>
    <span class="d-none d-sm-block">بستن</span>
  </button>
</form>